.result-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.qr-code {
    width: 100%;
}

.black {
    color: black;
}

.red {
    color: red;
}

.big {
    font-size: 20px;
}

.justify {
    text-align: justify;
}

.left {
    text-align: left;
}

.space-top {
    height: 250px;
}

@media screen and (max-width: 900px){
    .result-content{
        justify-content: center;
    }
}
