.result-content{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.qr-code {
    width: 100%;
}

@media screen and (max-width: 900px){
    .result-content{
        justify-content: center;
    }
}
